{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static', filename='img/about-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am an aspiring Self taught Web Developer currently with more than a year of well rounded experience in objected oriented and user centered design .  </p>
        <p>Having a great commnad of web design tools such as Bootstrap, css, and html. This is one of my websites that i built from scratch and can be used as a portfolio to grade my expertise, I did this solely by myself while spacing time in between work  </p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}